<div class="pages-container">
	<div class="space-bg">
		<div class="news-container">



			<center>
					<div class="ttm-card-bg index-card2">

						<h2 class="index-card-title">Who we are</h2>

						<hr align="left" class="articles-show-card-hr">

						<p class="index-card-text-bold">

							We are young individuals passionated about the future of our society.
						</p>

						<p class="index-card-text">
							We believe that simplification, transparency and efficiency will dramatically change tomorrow for the better, and that distributed ledger technology is a fantastic opportunity for that.
							<br>
							We all joined THP to learn how to code, and, as a team, we wanted to developp an exiting project, important for all of us.
							<br>
							Everyone within the team come from very different backgrounds.
						</p>

						<br>
						<br>

						<h2 class="index-card-title">The Team</h2>
						<hr align="left" class="articles-show-card-hr">
						<p class="index-card-text-p">

						  <strong>Jo</strong> is the initiator of this project.
							<br>
							Gamer and philosopher, Jo felt in love with distributed-ledger technology (also known as blockchain) and wanted to develop his skills to feed his passion.
							<br>
							<strong>Victor</strong>, previously working with wood, also have experience designing graphics and made himself learn some Python language on the way.
							<br>
							<strong>Raphael</strong> is a Graphic designer, already implementing his skills with Front integrations.
							<br>
							<strong>Matthieu</strong> is aware of cryptos evolution and wanted to get a more central platform to access information on the technology.
						</p>

						<br>
						<br>

						<h2 class="index-card-title">Our story</h2>

						<hr align="left" class="articles-show-card-hr">

						<p class="index-card-text-p">
							Many blogs, newspaper or other trading platform will give you the headlines you are looking for.
							<br>
							However, in order to really understand what block-chain is about and which possibilities this technology give us, you’ll need a more condensed, central and easy to use platform.
							<br>
							Overall, we concluded that many sources of informations existed among the web, and that centrilizing critical informations within a social platform for individuals or investors would be a fantastic tool !
						</p>

						<br>
						<br>

						<h2 class="index-card-title">To the Moon</h2>

						<hr align="left" class="articles-show-card-hr">

						<p class="index-card-text-bold">
							As the solution did not existed already, we decided to developp To the Moon.
						</p>

						<p class="index-card-text">
							We designed this platform, to give you access to all the most critical informations on cryptocurrencies, in real time.
							<br>
							From the latest news available worldwide related to blockchain, to all the cryptos price in real time,  we have made this platform a tool-kit available for anyone.
							<br>
							As a member, you will be able to create your portfolio of cryptos, foresee their evolution, and make predictions.
							<br>
							Last but not least, you will be able to exchange within our community of users, on the cryptos you love the most.
						</p>
					</div>

					</center>
				</div>

				<div class="index-jumbotron">
					<div class="index-jumbotron-title">
						<h1 class="index-jumbotron-title-small"><b>In brief, you have it all here !</b></h1>
					</div>
				</div>



		</div>
	</div>
