<div class="pages-container">
  <div class="space-bg">
    <center>
      <div class="contact-card-container ">
        <h1 class="page-title">Contact</h1>
        <div class="ttm-card-bg article-cards article-show-container contact-card">
          <center>
            <br/>
            <h3> Team </h3>
            <br/>
            <div class="d-flex justify-content-around">
              <div>
              <h5> Back </h5>
              <p> Joshuan SPADA <p>
              <p> Victor FOUQUET </p>
              </div>
              
              <div>
              <h5>Front</h5>
              <p> Raphael CHILLIO </p>
              <p> Matthieu GALEA </p>
              </div>
              
            </div>
            <br/>
            <h3> Mail </h3>


            <p>tothemoon.website@gmail.com</p>
          </div>
        </div>
      </div>
    </center>
  </div>
</div>
