<div class="pages-container">
	<div class="space-bg">
			<div class="news-container">
				<div class="ttm-card-bg article-cards   article-show-container">
          <center><h1>StaticPages#privacy_policy</h1>
          <p>Find me in app/views/static_pages/privacy_policy.html.erb</p></center>


      </div>
    </div>
  </div>
</div>
