
  <center> <h1> Dashboard Admin </h1>
  <br/>
  <br/>
  <h3> Users </h3>
  <p>Number of user : <%= User.all.length %>  </p>
  <ul>
  <% User.all.each do |user| %>
  <li><%= user.email %></li>
  <% end %>
  </ul>
  <h3> Articles </h3>
  <p>Number of article create : <%= Article.all.length %> </p>
  <% Article.all.each do |article| %>
  <%= article.title %>
  <% end %>
  <br/>
  <h2> Article report </h2>
    </center>
