<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>


<center><% @coin_name = @coin_name.downcase.gsub(/\s+/, "-") %>
<%    @coin_name = coin_name_helper_check(@coin_name) %>
<br/>
<br/>
<h1>  Chart </h1>
<br/>
<br/>
<script src="https://widgets.coingecko.com/coingecko-coin-compare-chart-widget.js"></script>
<coingecko-coin-compare-chart-widget  coin-ids=<%= @coin_name.downcase %> currency="usd" locale="en"></coingecko-coin-compare-chart-widget>
<br/>
<br/>
<h1> Converter </h1>
<br/>
<br/>
<script src="https://widgets.coingecko.com/coingecko-coin-converter-widget.js"></script>
<coingecko-coin-converter-widget  coin-id="<%= @coin_name.downcase %>" currency="usd" background-color="#ffffff" font-color="#4c4c4c" locale="en"></coingecko-coin-converter-widget>
<br/>
<br/>
<h1> EXCHANGE </h1>
<br/>
<br/>
<script src="https://widgets.coingecko.com/coingecko-coin-market-ticker-list-widget.js"></script>
<coingecko-coin-market-ticker-list-widget  coin-id="<%= @coin_name.downcase %>" currency="usd" locale="en"></coingecko-coin-market-ticker-list-widget>

</body>
