<% p = (@n - 100) /100 +1 %>
<% x = (@n -100) %>

<% p1 = p %>
<% x1 = x %>

<% p = 0 %>
<% x = -100 %>

<% while x != (x1) %>
<% p += 1 %>
<% x += 100 %>
<% if x == x1 %>
<a class="btn btn-primary"<%= link_to p, cryptolist_path(x) %> </a>
<% else %>

<a class="btn btn-secondary"<%= link_to p, cryptolist_path(x) %> </a>
<% end %>


<% end %>



<% while x != (x1 + 500) && x != 2500 %>
<% x += 100 %>
<% p += 1 %>
<a class="btn btn-secondary"<%= link_to p, cryptolist_path(x) %> </a>


<% end %>
