<div class="pages-container">
	<div class="space-bg">
		<div class="news-container">
			<h1 class="page-title text-center">
    			Cryptocurrencies
    		</h1>

			<%= render "global" %>

			<% n = @n.to_s %>

			<%= render "coinlist" %>
			<center><%= render "naviguate_page" %></center>
		</div>
	</div>
</div>
