<div class="pages-container">
	<div class="space-bg">
		<div class="news-container">

			<%= render "global" %>

			<% n = @n.to_s %>
			<% url = 'https://api.coinlore.com/api/tickers/?start=' + n + '&limit=100'%>

			<% @coin_list = api_request(url) %>

			<%= render "coinlist" %>
			<center><%= render "naviguate_page" %></center>
		</div>
	</div>
</div>
