<!doctype html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>To the Moon</title>
  </head>
  <body>
    <div class="pages-container">
      <div class="space-bg">
        <div class="index-jumbotron">
          <div class="index-jumbotron-title">
            <h1 class="index-jumbotron-title-small">The most accessible</h1>
            <h1 class="index-jumbotron-title-big">cryptocurrency toolkit</h1>
            <h1 class="index-jumbotron-title-small">in the universe</h1>
          </div>
          <%= image_tag("home/to-the-moon-index-main.png", class: "index-jumbotron-img", alt: "to-the-moon-homepage-main") %>
          </div>
        </div>
      </div>
    </div>
  </body>