
<div class="pages-container">
  <div class="space-bg">
    <div class="news-container">

      <h1 class="page-title text-center">News</h1>
      <div class="card-columns">
        <% @news_list = api_request('https://min-api.cryptocompare.com/data/v2/news/?lang=EN&api_key=62947243f755c28ffe4fbafb00ba081978d7773e9187f19d26a4bd76dff60439')%>

        <% @news_list["Data"].each do |new| %>
          <div class="card ttm-card-bg news-card">

            <div class="news-title-container">
              <h3 class="news-title">
                <%= new['title'] %>
              </h3>
            </div>

            <div class="news-img-container">
              <%= image_tag new["imageurl"] %>
            </div>

            <div class="news-text-btn-container">
              <p class="card-text"><%= new['body'] %> </p>

              <a class="btn sign-ttm-btn"
                <%= link_to 'view more', new['url'] %>
              </a>
            </div>

          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
