<div class="header-shadow card-group d-flex justify-content-start bg-purple">

  <div>
    <div class="card-perso bg-purple">
      <div class="dropdown">
  <button class="myButtonheader2 dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Filter
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <button class="dropdown-item" type="button">Action</button>
    <button class="dropdown-item" type="button">Another action</button>
    <button class="dropdown-item" type="button">Something else here</button>
  </div>
</div>
    </div>
  </div>

<div>
  <div class="card-perso bg-purple">
    	<a  role="button" class="myButtonsimple3"<%= link_to "About your favourites", articles_path%> </a>
  </div>
</div>
</div>
