
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />


  <body>



<table cellspacing="0" cellpadding="0" border="0" style="font:15px/1.25em 'Helvetica Neue',Arial,Helvetica;color:#5a5a5a;background:#fff;padding:0;margin:0;width:100%;font:15px 'Helvetica Neue',Arial,Helvetica">
  <tbody><tr width="100%"> <td valign="top" align="left" style="background:#f0f0f0;font:15px 'Helvetica Neue',Arial,Helvetica"> <table style="border:none;padding:0 18px;margin:50px auto;width:500px"> <tbody>

 <tr width="100%" height="40px"> <td valign="top" align="left" style="border-top-left-radius:4px;border-top-right-radius:4px;background:#fff;text-align:center">
<div  align="left" >
   <%= image_tag("https://to--the--moon.herokuapp.com/assets/home/to-the-moon-index-main-4ef64447955555af274753fd0f2f4a9ba3fb6e07cc11f3b94082a270d0635c70.png", class: "index-jumbotron-img-bis", alt: "to-the-moon-homepage-main", style: "width:100% ;height:auto;") %>
    </div>
   </td> </tr>

<div  align="left" >
 <tr width="100%"> <td valign="top" align="left" style="border-bottom-left-radius:4px;border-bottom-right-radius:4px;background:#fff;padding:18px">
  <h1 style="border-bottom-left-radius:4px;font-size:12px;font-style: italic;margin:0;color:#5a5a5a;text-align:center"> Welcome  <%= @user.email %> to the Moon ! </h1>
<br>

   <h1 style="border-bottom-left-radius:4px;font-size:12px;font-style: italic;margin:0;color:#5a5a5a;text-align:center"> You’ll be astonished by the diversity of block-chain (distributed-ledger) technology within our economy.  Get ahead of the crowd now, and find your new crypto-unicorn !</h1>
</div>


<div  align="center" >

<h2> Connect you </h2>
<a href="https://to--the--moon.herokuapp.com/" style="padding: 7px 5px; width: auto; background: linear-gradient(-135deg, #f2c300, #e5a505); border-radius: 7px; color: #fff; font-size: 18px; font-weight: 500;" align="center">To the Moon</a>

</div>

 </td> </tr>

 <tr width="100%" height="40px"> <td valign="top" align="left" style="border-top-left-radius:4px;border-top-right-radius:4px;background:#493b72;padding:12px 18px;text-align:center">
   <div  align="center" >
     <%= image_tag("https://to--the--moon.herokuapp.com/assets/home/logo_to_the_moon-9d486d84d1a04751999cb6dfa30e2184a19491d3e0d084dbcce58ce8f4895a22.png", class: "index-jumbotron-img-bis", alt: "to-the-moon-homepage-main", style: "width:70px;height:70px;") %>
     <p style="font:15px/1.25em 'Helvetica Neue',Arial,Helvetica;color:#939393;margin-bottom:0;text-align:center"> Thank you for using to the Moon. </p>

   </div>




 </tbody> </table> </td> </tr></tbody> </table>


  </head>
</html>
