<header>
  <script src="https://kit.fontawesome.com/068a9d7e61.js"></script>
</header>
<% unless @cryptos == nil %>
  <% n = 0 %>
  <% @total = 0 %>
  <% @total_coin = 0 %>

  <table class="table">
    <thead>
      <tr class="text-dark">
        <h1><th scope="col">rank</th>
        <th scope="col">Symbol</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
      <th scope="col"> Total </th>
        <th scope="col"> 1h Change </th>
        <th scope="col"> 24h Change </th>
      <th scope="col"> 7 day Change </th></h1>

      <th scope ="col"> 7 day chart  </th>
            <th scope ="col">  </th>
      </tr>
    </thead>
      <% @cryptos.each do |crypto| %>
        <%= @coins[n] %>
        <% n += 1 %>
      <% end %>
<% end %>
